/* General Styles */
.app-container {
  text-align: center;
  font-family: Arial, sans-serif;
  padding-top: 15vh;
}

.app-title {
}

.app-title-container {
  width: 100vw;
  background: #FFFFFF;
  position: fixed;
  top: 0;
}

/* Chat Container */
.chat-container {
  width: 80vw;
  margin: 0 auto;
  /* border: 1px solid #ddd; */
  border-radius: 8px;
  padding: 10px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  /* background-color: #f9f9f9; */
}

.chat-box {
}

/* Chat Messages */
.chat-message {
  margin-bottom: 10px;
}

.chat-user {
  text-align: right;
}

.chat-bot {
  text-align: left;
}

.chat-bubble {
  display: inline-block;
  padding: 10px;
  border-radius: 8px;
  max-width: 80%;
}

.chat-user .chat-bubble {
  background-color: #007bff;
  color: #fff;
}

.chat-bot .chat-bubble {
  background-color: #e9ecef;
  color: #000;
}

.chat-image {
  display: block;
  margin-top: 10px;
  max-width: 100%;
  border: 1px solid #ddd;
  border-radius: 8px;
}

/* Chat Form */
.chat-form {
  /* margin-top: 10px; */
  position: fixed;
  bottom: 10px;
  width: 80vw;
  display: flex;
}

.chat-input {
  padding: 20px 10px;
  width: calc(100% - 80px);
  border-radius: 8px;
  border: 1px solid #ccc;
}

.chat-button {
  padding: 10px 20px;
  margin-left: 10px;
  border: none;
  border-radius: 8px;
  color: #007bff;
  background-color: #fff;
  border: 1px solid #007bff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.chat-button:hover {
  background-color: #007bff;
  color: #fff;
}

.chat-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
